/* Añade un color de fondo completo */
body {
    background-color: grey; /* Cambia este color al que prefieras */
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

h1, h2, h3, h4 {
    margin: 0 0 1em 0;
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5em;
}

.container-SobreMi, .container-experiencia, .container-estudios {
    background-color: whitesmoke;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


@media(max-width: 767px){
    .titulo{
        justify-content: center;
    }
    .navigation{
        flex-direction: column;
        gap:1rem;
        align-items:center;
    }
    .container-sobreMi{
        width:100%;
        padding:1;
        margin-top: 1rem;
        line-height: 2.5rem;
        font-size: small;
    }
}

@media(min-width: 768px) and (max-width:1023px){
    .titulo{
        justify-content: center;
    }
    .navigation{
        gap:2rem;
        justify-content: center;
    }
}

@media(min-width: 1024px){
    .titulo{
        justify-content: flex-start;
    }
    .navigation{
        gap:3rem;
        justify-content: flex-end;
        margin: 0 3rem;
    }
}
